# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore tfvars
*.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ansible files
*.original
*.tmp
*.bkp
*.retry
*.*~

# Python files
.env
.idea
venv
__pycache__

# Ignore personal notes file
notes.txt

# Ignore python-related files and directories
.env
.idea
venv
__pycache__

# Ignore Mac OS .DS_Store file
.DS_Store